body {
    overflow: hidden;
    overflow-x: hidden;
}
.home {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/leio-mclaren-FwdZYz0yc9g-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 235vh; 
    margin-bottom: 35vh;
    height: 100%;
}

h1 {
    text-shadow: 1px 1px 2px black; /* Adds shadow for better visibility */
    font-weight: 500;
    box-shadow: 0 4px 8px;  
    padding: 10px;
    border-radius: 3px;
}
p {
    font-weight: 700;
    font-size: 800 ;
    color:  rgba(19, 28, 36, 1);
}
.explore {
    border-radius: 5px;
    box-shadow: 0 4px 8px;  
    color: black;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 300vh;
    text-align: center;
    padding: 6px 0;
    background-color: rgba(33, 53, 71, 1); /* Match navbar style */
}
.footer p {
    color: white;
    background-color: transparent;
}
.logo {
    top: 0;
    width: 30vh;
    height: 30vh;
    background-color: transparent;
}